__pycache__/

software_update_library/Scripts/venv/
software_update_library/Scripts/__pycache__/
software_update_library/Scripts/*.pyc
software_update_library/Scripts/keys.json
software_update_library/Scripts/images.png

software_update_library/SCRobotMonitor/venv/
software_update_library/SCRobotMonitor/Firmware/
software_update_library/SCRobotMonitor/media/
software_update_library/SCRobotMonitor/media_from_robot/
software_update_library/SCRobotMonitor/sensors/
software_update_library/SCRobotMonitor/tracks/
software_update_library/SCRobotMonitortest_db.sqlite3
software_update_library/SCRobotMonitor/media
software_update_library/SCRobotMonitor/RobotMonitor/__pycache__/
software_update_library/SCRobotMonitor/RobotMonitor/pymodules/__pycache__/
software_update_library/SCRobotMonitor/RobotMonitor/pymodules/keys.json
software_update_library/SCRobotMonitor/RobotMonitor/migrations/__pycache__/
software_update_library/SCRobotMonitor/SCRobotMonitor/__pycache__/
